<h1><%= @course.name %></h1>
<p>
<%= @course.description %>
</p>

<ul>
	<% @course.course_instances.each do |ci| %>
	<li><%= link_to ci.name, course_instance_url(ci) %></li>
	<% end %>
</ul>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
